# Git
.git
.gitignore

# Local environment files
.env
.env.example

# Dependencies managed by Composer
/vendor
composer.lock

# Node.js dependencies
/node_modules

# Laravel Storage files
/storage/app/public
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/
/storage/logs/
!/storage/logs/.gitignore

# Testing directory
/tests/

# Documentation
README.md

# Docker files
Dockerfile

# IDE / Editor specific settings
.idea/
.vscode/
