
# Java
*.class
*.jar
*.war
*.ear

# Gradle
.gradle/
build/
bin/
out/
!gradle/wrapper/gradle-wrapper.properties

# IDE
.idea/
*.iml
*.ipr
*.iws

# Logs
logs/

# OS
.DS_Store

# Env
.env

# Others
*.swp
*.swo
*.tmp
*.bak
*.pid
*.lock

# Test Reports
reports/
